<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>Search for an Author</h1>
    <%= erb :test %>
    <% @result.each do |result| %>
    <p><%= result['name'] %></p>
    <% end %>

  </body>
</html>
